<footer class="bg-gray-800 text-white p-4 fixed bottom-0 w-full">
  <div class="flex justify-between items-center">
    <div class="text-left">
      JAM (Juan Astorga Muñoz)
    </div>
    <div class="text-center flex items-center gap-2">
      <span class="mr-8">Version MVP-0 2025</span>
      <img src="img/CustomNavigationLogo.png" alt="Logo" style="height: 30px;"><br />
      <span class="ml-8">Trabajo de Titulo</span>
    </div>
    <div class="text-right">
      Profesor: Nicolas Sotelo
    </div>
  </div>
</footer>
