<header class="bg-gray-800 text-white p-4 flex justify-between items-center">
  <div class="flex items-center">
    <img alt="Logo de la empresa con un diseño abstracto en colores azul y blanco" class="h-10 w-10 mr-2" height="50"
      src="img/logo_lead.png" width="50" />
    <span class="text-xl font-bold">
      LeadTrack
    </span>
  </div>
  <nav>
    <ul class="flex space-x-4">
      <li *ngIf="role == 'admin'">
        <a class="cursor-pointer" [routerLink]="'/report'">
          Reportes
        </a>
      </li>
      <li *ngIf="role == 'admin'">
        <a class="cursor-pointer" [routerLink]="'/carga'">
          Carga
        </a>
      </li>


      <li *ngIf="role != 'admin'">
        <a class="cursor-pointer" [routerLink]="'executive'">
          Inicio
        </a>
      </li>
      <!--
        <li>
          <a class="hover:underline" href="#">
            Nosotros
          </a>
        </li> -->
      <li>
        <a class="cursor-pointer" (click)="logout()">
          Salir
        </a>
      </li>
    </ul>
  </nav>
</header>
