<p-toast></p-toast>

<div class="flex flex-wrap p-4">
  <!-- Sección Datos de Lead -->
  <div class="w-full md:w-1/2 p-2">
    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-xl font-bold mb-4">Información del prospecto</h2>
      <div class="grid grid-cols-2 gap-4">

        <!-- Nombre -->
        <div class="col-span-1">
          <label class="block text-sm font-medium text-gray-700">Nombre</label>
          <p class="mt-1 p-2 bg-gray-100 rounded">{{ prospect.fullName }}</p>
        </div>

        <!-- Email -->
        <div class="col-span-1">
          <label class="block text-sm font-medium text-gray-700">Email</label>
          <p class="mt-1 p-2 bg-gray-100 rounded flex items-center justify-between">
            {{ prospect.emails.length > 0 ? prospect.emails[0].address : 'No email available' }}
            <a target="_blank" href="mailto:{{ prospect.emails.length > 0 ? prospect.emails[0].address : '' }}"
              class="text-gray-500 hover:text-gray-700 ml-2">
              <i class="pi pi-envelope"></i>
            </a>
          </p>
        </div>
        <!-- Teléfono -->
        <div class="col-span-1">
          <label class="block text-sm font-medium text-gray-700">Teléfono</label>
          <p class="mt-1 p-2 bg-gray-100 rounded">{{ prospect.phones.length > 0 ? prospect.phones[0].phoneNumber :
            ' '}}
          </p>
        </div>

        <!-- Empresa -->
        <div class="col-span-1">
          <label class="block text-sm font-medium text-gray-700">Empresa</label>
          <p class="mt-1 p-2 bg-gray-100 rounded">{{ prospect.company.name }}</p>
        </div>

        <!-- Cargo -->
        <div class="col-span-1">
          <label class="block text-sm font-medium text-gray-700">Cargo</label>
          <p class="mt-1 p-2 bg-gray-100 rounded">{{ prospect.position }}</p>
        </div>

        <!-- LinkedIn -->
        <div class="col-span-1">
          <label class="block text-sm font-medium text-gray-700">LinkedIn</label>
          <p class="mt-1 p-2 bg-gray-100 flex items-center justify-between">
            {{prospect.socialNetworks.length > 0 ? prospect.socialNetworks[0].url : ' '}}
            <a [href]="prospect.socialNetworks.length > 0 ? prospect.socialNetworks[0].url : ' '" target="_blank"
              class="text-gray-500 hover:text-gray-700 ml-2">
              <i class="pi pi-globe"></i>
            </a>
          </p>
        </div>

        <!-- Tamaño de Empresa -->
        <div class="col-span-1">
          <label class="block text-sm font-medium text-gray-700">Tamaño de Empresa</label>
          <p class="mt-1 p-2 bg-gray-100 rounded">{{ prospect.company.size }}</p>
        </div>

        <div class="col-span-1">
          <button type="button" pButton label="Modificar" class="w-full bg-blue-500 text-white p-2 rounded"
            (click)="modificar()"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección interaccion  -->
  <div class="w-full md:w-1/2 p-2">
    <form [formGroup]="formInteraction" (ngSubmit)="saveInteraction()" class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-xl font-bold mb-4">Ingreso nueva interacción</h2>

      <!-- Fecha -->
      <div class="grid grid-cols-2 gap-4">
        <div class="col-span-1 flex items-center">
          <label for="fecha" class="text-sm font-medium text-gray-700">Fecha</label>
        </div>
        <div class="col-span-1">
          <p-calendar id="fecha" formControlName="fecha" [showIcon]="true" styleClass="w-full"
            [ngClass]="{ 'ng-invalid ng-dirty': formInteraction.get('fecha')?.invalid && formInteraction.get('fecha')?.touched }">
          </p-calendar>
          <small *ngIf="formInteraction.get('fecha')?.invalid && formInteraction.get('fecha')?.touched"
            class="text-red-500">
            Fecha es requerida
          </small>
        </div>

        <!-- Tipo de Contacto -->
        <div class="col-span-1 flex items-center">
          <label for="tipoContacto" class="text-sm font-medium text-gray-700">Tipo de Contacto</label>
        </div>
        <div class="col-span-1">
          <p-dropdown id="tipoContacto" formControlName="tipoContacto" [options]="['Email', 'Teléfono']" class="w-full"
            [ngClass]="{ 'ng-invalid ng-dirty': formInteraction.get('tipoContacto')?.invalid && formInteraction.get('tipoContacto')?.touched }">
          </p-dropdown>
          <small *ngIf="formInteraction.get('tipoContacto')?.invalid && formInteraction.get('tipoContacto')?.touched"
            class="text-red-500">
            Tipo de contacto es requerido
          </small>
        </div>

        <!-- Notas -->
        <div class="col-span-1 flex items-center">
          <label for="notas" class="text-sm font-medium text-gray-700">Notas</label>
        </div>
        <div class="col-span-1">
          <textarea id="notas" formControlName="notas" pInputTextarea class="w-full p-2 border rounded"
            [ngClass]="{ 'ng-invalid ng-dirty': formInteraction.get('notas')?.invalid && formInteraction.get('notas')?.touched }">
        </textarea>
          <small *ngIf="formInteraction.get('notas')?.invalid && formInteraction.get('notas')?.touched"
            class="text-red-500">
            Notas es requerido
          </small>
        </div>

        <!-- Contestó -->
        <div class="col-span-1 flex items-center">
          <label for="contesto" class="text-sm font-medium text-gray-700">Contesta?</label>
        </div>
        <div class="col-span-1">
          <p-checkbox id="contesto" formControlName="contesto" label="" [binary]="true"></p-checkbox>
        </div>
      </div>

      <!-- Botones -->
      <div class="mt-4">
        <button type="submit" pButton label="Guardar" class="w-full bg-blue-500 text-white p-2 rounded"></button>
        <button type="button" pButton label="Limpiar" (click)="limpiarInteraction()"
          class="w-full bg-gray-500 text-white p-2 rounded mt-2"></button>
      </div>
    </form>
  </div>

  <!-- Tabla -->
  <div class="w-full overflow-auto p-2">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold">Historia de interacciones</h2>
      <button pButton type="button" label="Volver" class="p-button-primary" [routerLink]="'/executive'"></button>
    </div>
    <p-table [value]="prospect.interactions" [paginator]="true" [rows]="5" [sortField]="'date'" [sortOrder]="-1"
      [sortMode]="'single'" [resizableColumns]="true" [scrollable]="true" scrollHeight="400px">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
          <th pSortableColumn="notes">Notes <p-sortIcon field="notes"></p-sortIcon></th>
          <th pSortableColumn="answer">Answer <p-sortIcon field="answer"></p-sortIcon></th>
          <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-interaction>
        <tr>
          <td>{{ interaction.type }}</td>
          <td>{{ interaction.notes }}</td>
          <td>
            <p-checkbox [binary]="true" [ngModel]="interaction.answer" disabled="true"></p-checkbox>
          </td>
          <td>{{ interaction.date | date: 'dd-MM-YYYY HH:mm' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
